.notice, .error, .warning, .info {
    border-radius: 25px;
    font-weight: bold;
    margin: -10px 0 15px 0;
    padding: 5px 5px 5px 27px;
    }
    
    .notice {
    border: 1px solid #9c9;
    background: #e2f9e3;
    color: #060;
    }
    
    .error {
    border: 1px solid #c68484;
    background: #fcc;
    color: #c00;
    }


    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
